.nav-links .dropdown:hover a,
.nav-links .dropdown:hover {
  color: #a19e9e;
}

.nav-buttons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.login {
  background-color: #fff;
  border: 0.063rem solid #d5d7da;
  color: #414651;
  padding: 8px 14px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0%;
}

.signup {
  background-color: #1570ef;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0%;
}

.signup.Hov:hover,
.signup-btn.Hov:hover {
  color: #ffffff10;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
}

.dropdown a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
}

.hero {
  background-color: #eff8ff;
  text-align: center;
  padding: 6rem 12rem 0rem 12rem;
  position: relative;
}

.container {
  width: 1000px;
  height: 324px;
  max-width: 1000px;
  gap: 22px;
  opacity: 1;
  padding-right: 30px;
  padding-left: 30px;
}

.hero p {
  font-size: 1rem;
  color: #175cd3;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

/* -------------page3------------ */
.feature-img {
  /* max-width: 720px; */
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
  border: 1px solid #eff8ff;
}
