* {
  box-sizing: border-box;
  font-family: "Inter";
}

.page-container {
  height: 1120px;
}

.navbar-container {
  background-color: #eff8ff;
  overflow: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 18px 80px 18px 80px;
  gap: 16px;
}

.nav-first {
  display: flex;
  justify-content: start;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 13.375rem;
  height: 2rem;
}

.nav-links {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 14px;
  margin-left: 1.25rem;
  color: #414651;
}

.nav-links .dropdown a,
.nav-links .dropdown {
  text-decoration: none;
  color: #414651;
  cursor: pointer;
  padding: 4px 6px 4px 6px;
  gap: 4px;
}

.nav-links .dropdown:hover a,
.nav-links .dropdown:hover {
  color: #a19e9e;
}

.nav-buttons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.login {
  background-color: #fff;
  border: 0.063rem solid #d5d7da;
  color: #414651;
  padding: 8px 14px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0%;
}

.signup {
  background-color: #1570ef;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0%;
}

.signup.Hov:hover,
.signup-btn.Hov:hover {
  color: #ffffff10;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #194185;
  cursor: pointer;
}

.dropdown a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #194185;
}

.hero {
  background-color: #eff8ff;
  text-align: center;
  padding: 6rem 12rem 0rem 12rem;
  position: relative;
  /* width: 90rem;
  height: 30.25; */
}

.container {
  width: 1000px;
  height: 324px;
  max-width: 1000px;
  gap: 22px;
  opacity: 1;
  padding-right: 30px;
  padding-left: 30px;
}

.hero p {
  font-size: 1rem;
  color: #175cd3;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.demo-btn {
  display: flex;
  justify-content: start;
  align-items: center;
  border: 0.063rem solid #d5d7da;
  background-color: #fff;
  color: #414651;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  gap: 0.375rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.signup-btn {
  background-color: #1570ef;
  color: white;
  border: 0.125rem solid #1570ef;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.page-title {
  color: #194185;
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 4.5rem;
  font-weight: 600;
  letter-spacing: -2%;
}

/* -------------page3------------ */
.feature-img img {
  /* width: 100%; */
  /* height: 512px; */
  max-width: 540px;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
  border: 1px solid #eff8ff;
}
