body {
    box-sizing: border-box;
    font-size: 1.2rem;
    background-color: #d3d1d1;
    padding: 0;
    margin: 0;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.7rem 1rem;
    position: sticky;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 1;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    margin: 0.625rem;
    color: white;
    font-weight: 600;
}

.navbar li a:hover {
    color: #f5f5f5d5;
}

.login-container {
    margin: 0 2.5rem;
}

.login-btn {
    text-decoration: none;
    outline: none;
    padding: 0.31rem 1.25rem;
    background-color: white;
    color: black;
    font-weight: 500;
    cursor: pointer;
}

.login-btn:hover {
    background-color: lightgray;
}

.home {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.h-con {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.h-con h1, h2{
    letter-spacing: 0.1rem;
}

.h-con h4 {
    text-transform: uppercase;
    margin: 1.875rem;
    word-spacing: 0.2rem;
}

.h-con p {
    word-spacing: 0.1rem;
}

.exp-btn {
    display: inline-block;
    text-decoration: none;
    padding: 0.94rem 1.88rem;
    border-radius: 1.88rem;
    margin: 1rem auto;
    outline: none;
    background-color: #cccccc76;
    color: white;
}

.exp-btn:hover {
    background-color: #cccccc8e;
}

/* ---------------------------------------------------- MENU ---------------------------------------------- */
.heading{
    text-align: center;
    /* color: gray; */
}

.event-all-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event-cards{
    padding: 1rem;
    color: black;
    background-color: white;
    font: 1.25rem;
    width: 15rem;
    height: 20rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    border-radius: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.event-cards:hover{
    box-shadow: 0px 15px 15px 0px #aaa;
}

.event-cards p{
    margin-top: 0;
}

.event-cards img{
    width: 100%;
    height: auto;
    margin-top: 1rem;
}

.event-cards a{
    text-decoration: none;
    outline: none;
    padding: 0.31rem 1.25rem;
    border-radius: 0.5rem;
    background-color: #00000066;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.event-cards a:hover{
    background-color: #00000053;
}

/* --------------------------------------------------------------------- Gallery page ------------------------------------------------ */

.gallery{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.gallery .img{
    width: 30rem;
    display: flex;
    flex-wrap: wrap;
}

.gallery .img img{
    width: 80%;
    margin: 1rem;
    border-radius:2rem ;
    border: 6px solid white;
    box-shadow: 0px 5px 5px 0px #33333337;
}


/* ---------------------------------------------------------- Registration page --------------------------------- */
.container{
    background-color: white;
    width: 30%;
    margin: 5% auto;
    padding: 2rem 1rem 3rem 1rem;
    box-shadow: 0px 10px 10px 2px #aaa;
}
.container h2{
    text-align: center;
    margin-bottom: 2rem;
}

.form label{
    display: block;
    width: 90%;
    margin: auto;
}

.form input{
    display: block;
    margin: auto;
    width: 90%;
    padding: 0.5rem 0;
    margin-bottom: 1.5rem;
}

.form button{
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    padding: 0.5rem;
    background-color: #ccccccf5;
    border: none;
    cursor: pointer;
}

.form button:hover{
    background-color: #ccccccbd;
}

.contact-us{
    width: 80%;
    /* background-color: white; */
    margin: auto;
    padding: 1rem;
}

.contact-us h1{
    text-align: center;
    margin: 4rem 0;
}

.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact .left, .contact .right{
    background-color: white;
    padding: 3rem;
    border-radius: 4rem 4rem 0 4rem;
}

.left h2{
    display: inline-block;
}

.bottom{
    text-align: center;
    width: 60%;
    margin: 4rem auto;
}

.bottom form input, form textarea{
    display: block;
    padding: 0.7rem 0;
    margin: 1rem auto;
    width: 100%;
}

.bottom form button{
    display: inline-block;
    padding: 0.5rem 1.5rem;
    background-color: white;
    border: none;
    cursor: pointer;
}
.bottom form button:hover{
    background-color: #f7f1f154;
}