body{
    padding-left: 100px;
    padding-right: 100px;
}
hr{
    width: 500px;
    border:1px dotted green;
    margin-left: 0px;
}
div{
    box-sizing: border-box;
    background-color: coral;
    width:500px;
    border: 2px solid brown;
    padding-left:100px;
    padding-right:100px;
    display: inline-block;
    text-align: center;
    margin-left: 50px;
}
section{
    background-color: rgb(164, 145, 182);
    text-align: center;
    text-transform: uppercase;
    padding: 4px;
    margin-bottom: 60px;
    
    
}
a{
    color: black;
    text-decoration: none;
    /* border-bottom: 1px solid black; */
}