/* link,visited,hover,active */

a:link{
    color: rgb(18, 31, 216);
    /* background:rgb(115, 175, 199); */
}
a:visited{
    color:rgb(121, 74, 80)
}
a:hover{
    color:rgb(13, 109, 77)
}
a:active{
    color:rgb(22, 11, 16)
}