* {
  box-sizing: border-box;
}
div {
  background-color: rgba(170, 8, 8, 0.37);
  border: 1px solid rgba(55, 0, 0, 0.67);
  height: 200px;
  position: absolute;
  width: 400px;
}
h1 {
  color: rgb(75, 32, 88);
  background-color: rgba(85, 20, 189, 0.116);
  text-align: center;
  position: relative;
  top: 0px;
  margin: 10px !important;
}
h1::selection {
  color: rgb(36, 144, 187);
  background: rgb(56, 16, 167);
}
