*{
    box-sizing: border-box;
}
h1{
    border: 2px solid rgb(180, 49, 71);
    background-color: pink;
    display: inline-block;
    text-align: center;
    margin-left: 500px;
    padding: 10px;
}
.player0,  .player3{
    float: left;
    width: 25%;
    background-color: rgba(224, 106, 28, 0.925);
    padding: 10px;
    /* margin: 2px; */

}
.player1{
    float: left;
    width: 25%;
    background-color: white;
    padding: 10px;
}
.player2{
    float: left;
    width: 25%;
    background-color: rgb(13, 107, 18);
    padding: 10px;
}
.p h2{
    text-align: center;
}
.clear{
    clear:both;
}