div{
    background-color: rgb(176, 149, 202);
    text-align: center;

}
li{
    text-transform: uppercase;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    
}
a{
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
}
h2{
    border-bottom: 1px solid black;
}
section{
    padding-bottom: 20px;
}