/* ----------headers page------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/header-image.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.navbar .logo {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  float: left;
}
.navbar .list {
  float: right;
  margin-top: 0.25rem;
  margin-right: 1.25rem;
  padding: 10px;
}
.list-items {
  display: inline;
}
a {
  color: white;
  text-decoration: none;
  padding: 0.625rem;
}
.navbar::after {
  content: " ";
  display: block;
  clear: both;
}
.container {
  max-width: 900px;
  width: 100%;
  margin: auto;
}
.list-items:hover {
  border-bottom: 1px solid grey;
  /* padding: 3px; */
}

.lg-heading {
  color: white;
  font-weight: 700;
  word-spacing: 2px;
  letter-spacing: 2px;
  line-height: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.paragraph {
  color: white;
  letter-spacing: 1px;
  line-height: 40px;
}
.content {
  width: 90%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.5em 0;
}
.btn-primary {
  color: #e63946;
  background-color: #fff;
  border-radius: 10em;
}
.btn-secondary {
  border: 2px solid #e63946;
  border-radius: 1.5em;
  color: #e63946;
  margin-top: 30px;
}
.btn:hover {
  background-color: rgba(154, 190, 221, 0.384);
}
/* -----headerspage ends here--------- */

/* -------section page---------- */
.showcase {
  background-color: #ddd;
  padding: 10rem 0;
}
.row {
  width: 100%;
  height: 350px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.267);
}
.row1 {
  margin-bottom: 10rem;
}
.row1 .img-box,
.row2 .text-box {
  float: left;
  width: 50%;
  height: 100%;
}
.row2 .img-box,
.row1 .text-box {
  float: right;
  width: 50%;
  height: 100%;
}
.row1 .img-box {
  display: inline;
  background: url(../img/showcase-photo1.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.row2 .img-box {
  background: url(../img/showcase-photo2.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.row .text-box {
  background-color: white;
  padding: 3rem;
  height: 349.5px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}
.text-red {
  color: #d14c4c;
}
.text-black {
  color: black;
}
.text-grey {
  color: gray;
}
.bg-dark {
  background: #263238f3;
}
.button1 {
  border: 1px solid red;
  font-weight: 500;
  color: red;
  display: inline-block;
  border-radius: 100px;
  padding: 0.5em 1.5em;
  margin-top: 1.875rem;
  cursor: pointer;
  background-color: white;
}
/* ---------features----------- */

/* ---------------features------------- */
.features {
  padding: 10rem 0;
}
.box-wrapper {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.267);
}
.box {
  width: 33.333333%;
  float: left;
  padding: 2rem;
  text-align: center;
}
.box-wrapper::after {
  content: "";
  display: block;
  clear: both;
}
.box1,
.box3 {
  background: #263238f3;
  color: white;
}
.box2 {
  background: linear-gradient(#d14c4c, #e9a8bb);

  color: white;
}
.md-heading {
  margin: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  word-spacing: 2px;
  letter-spacing: 2px;
  line-height: 40px;
}
/* ----------footer-------- */
.footer {
  color: white;
  text-align: center;
  background: #263238f3;
  padding: 0.3125rem;
}
.social-media-links {
  margin: 1rem;
}
.fa-brands {
  padding-left: 1.25rem;
}
/* -----------------ABOUT PAGE---------------- */
.about {
  padding: 5rem 0;
}
.about-heading::after {
  content: "";
  display: block;
  border: 3px solid #d14c4c;
  width: 100%;
}
.about-p {
  margin-top: 1rem;
}

/* ----------------about-wrapper---------- */
ul li {
  list-style: none;
}
.about-wrapper {
  text-align: center;
  padding-top: 1rem;
}
.about-wrapper .left {
  float: left;
  width: 50%;
}
.about-wrapper .right {
  float: right;
  width: 50%;
}
.about-wrapper::after {
  content: "";
  display: block;
  clear: both;
}
.about-wrapper li::before {
  content: "\2713";
  color: #d14c4c;
  font-weight: bold;
  padding-right: 1rem;
}
/* -----------counts----------- */
.counts {
  margin-top: 3rem;
  text-align: center;
}
.counts .count-item1 {
  float: left;
  width: 25%;
}
.counts .count-item2 {
  float: left;
  width: 25%;
}
.counts .count-item3 {
  float: left;
  width: 25%;
}
.counts .count-item3 {
  float: left;
  width: 25%;
}
.count-items:after {
  content: "";
  display: block;
  clear: both;
}
span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #d14c4c;
}
.count-items p {
  font-weight: 700;
  color: #555;
  font-size: 1.2rem;
}
/* ------------banner------------- */
.cta-banner {
  background: linear-gradient(#d14c4c, #e9a8bb);
  color: white;
  padding: 0.7rem;
  margin-top: 1.2rem;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.158);
}
.cta-banner-left {
  float: left;
  width: 60%;
}
.cta-banner-right {
  float: right;
  width: 40%;
  text-align: right;
}
.cta-banner:after {
  content: "";
  display: block;
  clear: both;
}
.cta-line {
  font-weight: 700;
  font-size: 1.1rem;
  margin: 1rem 0 1rem 0;
}

.btn-cta {
  display: inline-block;
  font-weight: 600;
  font-size: 1.5rem;
  border: 2px solid white;
  padding: 0.1rem 1.5em;
  letter-spacing: 0.2rem;
  margin: 0.5rem 0 0.5rem 0;
}
/* ------------about page is done---------------- */

/* >>>>>>>>>here contact page<<<<<<<<<<<<<< */
.contact-form {
  background: rgb(196, 191, 191) !important;
  padding: 5rem 0;
}

.form-wrapper::after {
  content: "";
  clear: both;
  display: block;
}
.form-wrapper .company-address {
  background-color: #fff;
  float: left;
  width: 49%;
  padding: 1rem;
}
.form-wrapper .form {
  background: white;
  float: right;
  width: 49%;
  font-size: 1.2rem;
  padding: 1rem;
}
.form-wrapper .company-address i {
  display: inline-block;
  margin-right: 1rem;
}
.form-wrapper .company-address h2 {
  display: inline-block;
}
.form-wrapper .address-group {
  margin-bottom: 0.2rem;
}

.form-wrapper .company-address img {
  width: 100%;
  min-height: 18rem;
  object-position: right;
  object-fit: cover;
}
/* ----------------form-styling------------ */
.form h1::after {
  content: "";
  display: block;
  border: 2px solid #d14c4c;
}
.form-wrapper .form label {
  display: block;
}
.form-wrapper .form input {
  padding: 0.5rem;
  width: 100%;
}
.form-wrapper .form .form-group {
  margin-bottom: 1.2rem;
}
.form-wrapper .form label::after {
  content: "*  ";
  color: #e63946;
}
.form-wrapper .form textarea {
  width: 100%;
  height: 151px;
  padding: 1rem;
}

.form-btn {
  display: block;
  margin: 0 auto;
  padding: 0.5em 3em;
  font-size: 1rem;
  text-transform: uppercase;
  background: #e63946;
  color: white;
  border: none;
  cursor: pointer;
}

/* --------------navbar-fixed--------- */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
/* ---------------end here------------------------------ */
